@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 font-mono antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-emerald-600 text-white rounded hover:bg-emerald-500 transition-colors duration-200 font-bold;
  }
}
